<h1 class="text-center"> BIENVENIDO </h1>
<h2 id="mensajeBienvenida" class="text-center"></h2>

<div class="contenedor-cards">
    <div class="animate__animated  animate__backInLeft card" id="card-inventario" (click)="irA('grupo')">
      <label>GRUPOS <i class="fa-solid fa-people-group"></i></label>
    </div>
    <div class="card animate__animated  animate__backInRight" id="card-materia" (click)="irA('reportes')">
      <label>REPORTES <i class="fa-solid fa-file-signature"></i>
      </label>
    </div>
    <div class="card animate__animated  animate__backInLeft" id="card-venta" (click)="irA('listaAsistencias')">
      <label>LISTAS ASISTENCIAS <i class="fa-solid fa-list"></i></label>
    </div>
    <div class="card animate__animated  animate__backInRight" id="card-corte" (click)="irA('justificacion')"> 
      <label>JUSTIFICACION <i class="fas fa-check-circle"></i> </label>
    </div>
    <div class="card animate__animated animate__backInRight" id="card-corte" (click)="irA('out')"> 
        <label> CERRAR SESIÓN <i class="fa-solid fa-right-from-bracket"></i> </label>
      </div>
  </div>