<div>
    <button class="btn btnVolver" (click)="volver()"><i class="fa-solid fa-chevron-left"></i> Volver</button>
    <h2 class="titulo">LISTAS DE ASISTENCIA</h2>
    <h3 class="titulo">carrea</h3>
</div>
<div>
    <div class="alinearCards">
        <div class="cardAsistencia">
            <p class="text-center">PERIODO</p>
            <app-dropdown [tipoId]="tipoId" (value)="obtenerValor($event)"></app-dropdown>
        </div>
        <div class="divBuscar">
            <p>Buscar materia</p>
            <input class="w-100" type="text" placeholder="Buscar materia..." pInputText [(ngModel)]="txtBuscarAlumno"  />
        </div>
    </div>
    <div> 
        
        <p-table [value]="listaFiltrados" [(selection)]="listaSeleccionada" dataKey="code" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header" let-columns>                
                <tr>
                    <th *ngFor="let date of headers">
                        {{date}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-alumno>
                <tr>
                    <td *ngFor="let col of datos">
                        {{col}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
   </div>
